<h1>Reviews</h1>

<div >
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this restaurant", restaurant_path(review.restaurant) %>
    </p>
  <% end %>
</div>
